

<div style="height :300px;margin:50px;width:100%">

	<h1>ADMIN PANEL</h1>
	<a class="btn head-btn1" asp-area="Admin" asp-controller="AdminPanel" asp-action="GetVacancies">Vacancies</a>
	<a class="btn head-btn1" asp-area="Admin" asp-controller="AdminPanel" asp-action="GetCategories">Categories</a>
	<a class="btn head-btn1" asp-area="Admin" asp-controller="AdminPanel" asp-action="GetTags">Tags</a>
</div>