
<section>
	@* Search *@
	<Partial name="IndexPartials/SearchSection.cshtml"></Partial>
</section>

<section>
	@* Our services  *@
	<partial name="IndexPartials/OurServicesSection.cshtml"></partial>
</section>

<section>
	@* Upload cv   *@
	<partial name="IndexPartials/UploadCvSection.cshtml"></partial>
</section>

<section>
	@* Featured Jobs   *@
	<partial name="IndexPartials/FeaturedJobsSection.cshtml"></partial>
</section>

<section>
	@*Apply process *@
	<partial name="IndexPartials/ApplyProcessSection.cshtml"></partial>
</section>

<section>
	@*Testimonial *@
	<partial name="IndexPartials/TestimonialSection.cshtml"></partial>
</section>

<section>
	@* Support Company  *@
	<partial name="IndexPartials/SupportCompanySection.cshtml"></partial>
</section>

<section>
	@* Blog  *@
	<partial name="IndexPartials/BlogSection.cshtml"></partial>
</section>
